@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Courier Prime', monospace;
  }
}

.mouse {
  width: 24px;
  height: 40px;
  border: 2px solid #333;
  border-radius: 12px;
  position: relative;
}

.wheel {
    width: 5px;
    height: 10px;
    background-color: #333;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2.5px;
  animation: moveWheel 1.5s ease-in-out infinite;
}

@keyframes moveWheel {
    0% {
      top: 8px;
    }
    50% {
      top: 16px;
    }
    100% {
      top: 8px;
    }
  }

  .modal-content {
    max-height: 90vh;
    overflow-y: auto;
  }
