.frosted-glass {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 1rem;
    transition: all 0.3s ease;
}

.card {
    text-align: center;
    padding: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transitions */
    perspective: 1000px; /* Add perspective */
}

.card:hover {
    transform: translateY(-5px) rotateY(10deg);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
}


.icon-container {
    display: flex;
    justify-content: center; /* Center the icon horizontally */
    align-items: center; /* Center the icon vertically */
    /* Add any specific style for container if needed */
}
